<main class="container mx-auto p-4">
	<h1 class="text-3xl font-bold text-center text-gray-800 dark:text-gray-200 mb-4">Palmarès de la Team Peps</h1>

	<div class="relative flex flex-col gap-4">

		@if (!isCreateAchievement) {
			<div class="flex flex-row gap-4">
				<button class="p-2 bg-blue-700 rounded-lg cursor-pointer hover:bg-blue-600 text-white w-fit" (click)="toggleCreateAchievement('game')">Ajouter un résultat pour un roster</button>
				<button class="p-2 bg-blue-700 rounded-lg cursor-pointer hover:bg-blue-600 text-white w-fit" (click)="toggleCreateAchievement('member')">Ajouter un résultat pour un membre</button>
			</div>
		} @else {
			<app-create-achievement
				[members]="members"
				[typeOfAchievement]="typeOfAchievement"
			></app-create-achievement>
			<button class="p-2 bg-red-700 rounded-lg cursor-pointer hover:bg-red-600 text-white w-fit" (click)="cancelCreateAchievement()">Annuler</button>
		}

		<label for="selectedGame">Roster/membre sélectionnée</label>
		<select class="p-2.5 border rounded-lg border-gray-300" id="selectedGame" (change)="changeSelection($event)">

			<option class="bg-white text-gray-900 dark:bg-gray-900 dark:text-white font-bold" value="game_placeholder">ROSTER</option>
			<option class="bg-white text-gray-900 dark:bg-gray-900 dark:text-white" value="placeholder">----</option>
			@for (game of enumKeysObject(Game); track game){
				<option class="bg-white text-gray-900 dark:bg-gray-900 dark:text-white" [value]="game">{{ game }}</option>
			}
			<option class="bg-white text-gray-900 dark:bg-gray-900 dark:text-white" value="placeholder">----</option>
			<option class="bg-white text-gray-900 dark:bg-gray-900 dark:text-white font-bold" value="member_placeholder">MEMBRE</option>
			<option class="bg-white text-gray-900 dark:bg-gray-900 dark:text-white" value="placeholder">----</option>
			@for (member of members; track member.id){
				<option class="bg-white text-gray-900 dark:bg-gray-900 dark:text-white" [value]="member.id">{{ member.pseudo }}</option>
			}
		</select>

		<div class="overflow-x-auto">

			<table class="w-full table-auto">
				<thead>
				<tr>
					<th class="border-b border-t border-gray-900 bg-gray-900 text-white">
						<div class="flex items-center px-2 py-1">
							<div class="flex-1 text-left font-normal">Compétition</div>
						</div>
					</th>
					<th class="border-b border-t border-gray-900 bg-gray-900 text-white">
						<div class="flex items-center px-2 py-1">
							<div class="flex-1 text-left font-normal">Rang</div>
						</div>
					</th>
					<th class="border-b border-t border-gray-900 bg-gray-900 text-white">
						<div class="flex items-center px-2 py-1">
							<div class="flex-1 text-left font-normal">Jeu</div>
						</div>
					<th class="border-b border-t border-gray-900 bg-gray-900 text-white">
						<div class="flex items-center px-2 py-1">
							<div class="flex-1 text-left font-normal">Actions</div>
						</div>
					</th>
				</tr>
				</thead>
				<tbody>
					@defer {

						@for (achievement of achievements; track achievement.id){
							<tr class="hover:bg-gray-200 dark:hover:bg-gray-700">
								<td class="border-b p-3 dark:border-gray-900">
									{{ achievement.competitionName }}
								</td>
								<td
									class="border-b p-3 dark:border-gray-900 font-bold"
									[ngClass]="{'text-[#EEC932]': achievement.ranking === 1, 'text-white': achievement.ranking === 2, 'text-[#C96527]': achievement.ranking === 3}"
								>
									{{ achievement.ranking }}
								</td>
								<td class="border-b p-3 dark:border-gray-900">
									{{ achievement.game }}
								</td>
								<td class="p-3 flex flex-col gap-2">
									<button class="p-2 bg-red-700 rounded-lg cursor-pointer hover:bg-red-600 text-white" (click)="deleteAchievement(achievement.id)">Supprimer</button>
								</td>
							</tr>
						} @empty {
							<tr>
								<td colspan="8" class="p-3 text-center">
									Aucune donnée
								</td>
							</tr>
						}
					} @loading (minimum 500ms) {
						<tr>
							<td colspan="10" class="p-3 text-center h-48">
								<div class="relative flex justify-center items-center">
									<div class="absolute animate-spin rounded-full h-24 w-24 border-t-4 border-b-4 border-yellow-500"></div>
									<div class="relative h-14 w-14">
										<img ngSrc="/assets/pepite.webp" class="rounded-full" fill>
									</div>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>

</main>
