<main class="container mx-auto p-4">
	<h1 class="text-3xl font-bold text-center text-white mb-4">Palmarès de la Team Peps</h1>

	<div class="relative flex flex-col gap-4">

		@if(selectedAchievement && !isCreateAchievement || !selectedAchievement && isCreateAchievement) {
			<app-update-achievement
				id="updateAchievement"
				[achievement]="selectedAchievement"
			></app-update-achievement>
		}

		@if (!isCreateAchievement) {
			<button class="p-2 bg-blue-700 rounded-lg cursor-pointer hover:bg-blue-600 text-white w-fit" (click)="toggleCreateAchievement()">Ajouter un résultat</button>
		} @else {
			<button class="p-2 bg-red-700 rounded-lg cursor-pointer hover:bg-red-600 text-white w-fit" (click)="cancelCreateAchievement()">Annuler</button>
		}

		<label for="selectedGame">Roster sélectionnée</label>
		<select class="p-2.5 border rounded-lg border-gray-300" id="selectedGame" (change)="changeSelection($event)">
			@for (game of enumKeysObject(Game); track game){
				<option class="bg-peps-dark-700 text-white" [value]="game">{{ game }}</option>
			}
		</select>

		<div class="overflow-x-auto">

			<table class="w-full table-auto">
				<thead>
				<tr>
					<th class="bg-peps-discord text-white">
						<div class="flex items-center px-2 py-1">
							<div class="flex-1 text-left font-normal">Compétition</div>
						</div>
					</th>
					<th class="bg-peps-discord text-white">
						<div class="flex items-center px-2 py-1">
							<div class="flex-1 text-left font-normal">Rang</div>
						</div>
					</th>
					<th class="bg-peps-discord text-white">
						<div class="flex items-center px-2 py-1">
							<div class="flex-1 text-left font-normal">Jeu</div>
						</div>
					<th class="bg-peps-discord text-white">
						<div class="flex items-center px-2 py-1">
							<div class="flex-1 text-left font-normal">Actions</div>
						</div>
					</th>
				</tr>
				</thead>
				<tbody>
					@defer {

						@for (achievement of achievements; track achievement.id; let even = $even) {
							<tr class="hover:bg-peps-dark-500" [ngClass]="{'bg-peps-dark-700': even, 'bg-peps-dark-600': !even}">
								<td class="p-3">
									{{ achievement.competitionName }}
								</td>
								<td
									class="p-3 font-bold"
									[ngClass]="{'text-[#EEC932]': achievement.ranking === 1, 'text-white': achievement.ranking === 2, 'text-[#C96527]': achievement.ranking > 2}"
								>
									{{ achievement.ranking }}
								</td>
								<td class="p-3">
									{{ achievement.game }}
								</td>
								<td class="p-3 flex flex-col gap-2">
									<button class="p-2 bg-blue-700 rounded-lg cursor-pointer hover:bg-blue-600 text-white" (click)="updateAchievement(achievement)">Modifier</button>
									<button class="p-2 bg-red-700 rounded-lg cursor-pointer hover:bg-red-600 text-white" (click)="deleteAchievement(achievement.id)">Supprimer</button>
								</td>
							</tr>
						} @empty {
							<tr>
								<td colspan="8" class="p-3 text-center">
									Aucune donnée
								</td>
							</tr>
						}
					} @loading (minimum 500ms) {
						<tr>
							<td colspan="10" class="p-3 text-center h-48">
								<div class="relative flex justify-center items-center">
									<div class="absolute animate-spin rounded-full h-24 w-24 border-t-4 border-b-4 border-peps-gold"></div>
									<div class="relative h-14 w-14">
										<img ngSrc="/assets/pepite.webp" class="rounded-full" fill>
									</div>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>

</main>
