<main class="container mx-auto p-4">
	<div class="relative flex flex-col gap-4">
		<form [formGroup]="articleForm" class="my-12 text-gray-900 dark:text-gray-100">
			@if(article){
				<h2 class="text-center text-2xl mb-4">Modification de l'article "{{ article.translations.fr.title }}"</h2>
			} @else {
				<h2 class="text-center text-2xl mb-4">Ajout d'un article</h2>
			}

			<div class="flex flex-col gap-4">

				<div class="flex flex-col md:flex-row gap-4">
					<div class="flex flex-col flex-1">
						<label for="titleFr">Titre (FR)</label>
						<input type="text" id="titleFr" formControlName="titleFr" class="p-2 border border-gray-300 rounded-lg" placeholder="Le nouveau jersey est disponible !"/>
					</div>
					<div class="flex flex-col flex-1">
						<label for="titleEn">Titre (EN)</label>
						<input type="text" id="titleEn" formControlName="titleEn" class="p-2 border border-gray-300 rounded-lg" placeholder="The new jersey is available!"/>
					</div>
				</div>

				<div class="flex flex-col md:flex-row gap-4">
					<div class="flex flex-col flex-1">
						<label for="articleType">Sujet</label>
						<select class="p-2.5 border rounded-lg border-gray-300" id="articleType" formControlName="articleType">
							@for (type of enumKeysObject(ArticleType); track type){
								<option class="bg-white text-gray-900 dark:bg-gray-900 dark:text-white" [value]="type">{{ type }}</option>
							}
						</select>
					</div>

				</div>

				<div class="flex flex-col text-gray-900 dark:text-gray-300 gap-4">
					<div>
						<label for="contentFr">Contenu (FR)</label>
						<editor [init]="init" [apiKey]="tinyMCEApiKey" formControlName="contentFr" id="contentFr"></editor>
					</div>
					<div>
						<label for="contentEn">Contenu (EN)</label>
						<editor [init]="init" [apiKey]="tinyMCEApiKey" formControlName="contentEn" id="contentEn"></editor>
					</div>
				</div>

				<div class="flex flex-col md:flex-row gap-4">
					<button class="flex-1 p-2 border border-blue-500 w-full md:w-fit rounded-lg cursor-pointer h-fit hover:border-blue-600 text-white" (click)="handleUploadFile('fileInputThumbnail')">Ajouter la miniature</button>
					<button class="flex-1 p-2 border border-blue-500 w-full md:w-fit rounded-lg cursor-pointer h-fit hover:border-blue-600 text-white" (click)="handleUploadFile('fileInputBackground')">Ajouter l'image</button>
				</div>

				<input type="file" id="fileInputThumbnail" formControlName="imageThumbnail" (change)="onFileSelected($event, 'thumbnail')" [accept]="imageService.getAcceptedFormats()" hidden/>
				<input type="file" id="fileInputBackground" formControlName="imageBackground" (change)="onFileSelected($event, 'background')" [accept]="imageService.getAcceptedFormats()" hidden/>
				<div [innerHTML]="imageService.getImageRequirementHtml()"></div>
				@if (imagePreviewThumbnail) {
					<img [src]="imagePreviewThumbnail" class="w-24" alt="Aperçu">
				}

				@if (imagePreviewBackground) {
					<img [src]="imagePreviewBackground" class="w-24" alt="Aperçu">
				}

				<div class="flex flex-row justify-center">
					<button class="p-2 bg-green-700 w-full md:w-fit rounded-lg cursor-pointer hover:bg-green-600 text-white" (click)="saveOrUpdateArticle()">Sauvegarder</button>
				</div>

			</div>

		</form>
	</div>
</main>
