<main class="container mx-auto p-4">
	<div class="relative flex flex-col gap-4">
		<form [formGroup]="articleForm" class="my-12 text-gray-900 dark:text-gray-100">
			@if(article){
				<h2 class="text-center text-2xl mb-4">Modification de l'article "{{ article?.title }}"</h2>
			} @else {
				<h2 class="text-center text-2xl mb-4">Ajout d'un article</h2>
			}

			<div class="flex flex-col gap-4">

				<div class="flex flex-col md:flex-row gap-4">
					<div class="flex flex-col flex-1">
						<label for="title">Titre</label>
						<input type="text" id="title" formControlName="title" class="p-2 border border-gray-300 rounded-lg" />
					</div>
					<div class="flex flex-col flex-1">
						<label for="articleType">Sujet</label>
						<select class="p-2.5 border rounded-lg border-gray-300" id="articleType" formControlName="articleType">
							@for (type of enumKeysObject(ArticleType); track type){
								<option class="bg-white text-gray-900 dark:bg-gray-900 dark:text-white" [value]="type">{{ type }}</option>
							}
						</select>
					</div>

				</div>

				<div class="flex flex-col text-gray-900 dark:text-gray-300">
					<editor [init]="init" [apiKey]="tinyMCEApiKey" formControlName="content"></editor>
				</div>

				<div class="flex flex-col md:flex-row gap-4">
					<button class="flex-1 p-2 border border-blue-500 w-full md:w-fit rounded-lg cursor-pointer h-fit hover:border-blue-600 text-white" (click)="handleUploadFile('fileInputThumbnail')">Ajouter la miniature</button>
					<button class="flex-1 p-2 border border-blue-500 w-full md:w-fit rounded-lg cursor-pointer h-fit hover:border-blue-600 text-white" (click)="handleUploadFile('fileInputBackground')">Ajouter l'image</button>
				</div>

				<input type="file" id="fileInputThumbnail" formControlName="imageThumbnail" (change)="onFileSelected($event, 'thumbnail')" accept="image/*" hidden/>
				<input type="file" id="fileInputBackground" formControlName="imageBackground" (change)="onFileSelected($event, 'background')" accept="image/*" hidden/>
				<span class="text-xs">L'image doit ne pas faire plus de 5Mo</span>
				@if (imagePreviewThumbnail) {
					<img [src]="imagePreviewThumbnail" class="w-24" alt="Aperçu">
				}

				@if (imagePreviewBackground) {
					<img [src]="imagePreviewBackground" class="w-24" alt="Aperçu">
				}

				<div class="flex flex-row justify-center">
					<button class="p-2 bg-green-700 w-full md:w-fit rounded-lg cursor-pointer hover:bg-green-600 text-white" (click)="saveOrUpdateArticle()">Sauvegarder</button>
				</div>

			</div>

		</form>
	</div>
</main>
