<div class="flex flex-wrap gap-4 justify-center">
	@for(heroe of heroes; track heroe.id){
		<div
			class="cursor-pointer border rounded-lg transition duration-200 text-center w-24 h-28 flex flex-col items-center justify-center"
			[ngClass]="{
		  'border-green-500 bg-green-500': isSelected(heroe),
		  'hover:border-green-500': !isSelected(heroe)
		}"
			(click)="toggleHero(heroe)"
		>
			<img [src]="minioBaseUrl + heroe.imageKey" class="w-12 h-12 object-contain mb-2" />
			<span class="text-sm font-semibold text-wrap">{{ heroe.name }}</span>
		</div>
	}
</div>
