<main class="container mx-auto p-4">
	<div class="relative flex flex-col gap-4">
		<form [formGroup]="videoForm" class="my-12">
			@if(video){
				<h2 class="text-center text-2xl mb-4">Modification de la vidéo</h2>
			} @else {
				<h2 class="text-center text-2xl mb-4">Ajout d'une vidéo</h2>
			}

			<div class="flex flex-col gap-4">

				<div class="flex flex-col">
					<div class="flex flex-col flex-1">
						<label for="link">Lien de la vidéo</label>
						<input type="text" id="link" formControlName="link" [ngClass]="{'border-red-500': !linkIsValid && videoForm.get('link')!.value !== ''}" class="p-2 border border-white rounded-lg" (change)="checkVideoLink($event)" placeholder="https://www.youtube.com/watch?v=7XfRo1Lu7vg"/>
					</div>
				</div>
				<div class="flex flex-col flex-1">
					<button class="flex-1 p-2 border border-blue-500 w-full md:w-fit rounded-lg cursor-pointer h-fit hover:border-blue-600 text-white" (click)="handleUploadFile()">Ajouter la miniature</button>
					<input type="file" id="fileInput" formControlName="image" (change)="onFileSelected($event)" [accept]="imageService.getAcceptedFormats()" hidden/>
					<div [innerHTML]="imageService.getImageRequirementHtml()"></div>
					@if (imagePreview) {
						<img [src]="imagePreview" class="w-24" alt="Aperçu">
					}
				</div>

				<div class="flex flex-row justify-center">
					<button class="p-2 bg-green-700 w-full md:w-fit rounded-lg cursor-pointer hover:bg-green-600 text-white" (click)="saveOrUpdateVideo()">Sauvegarder</button>
				</div>

			</div>

		</form>
	</div>
</main>
