<div class="w-screen h-screen items-center flex justify-center">
	<div class="p-8 rounded-lg shadow-lg bg-peps-dark-600 flex flex-col justify-center">

		<div class="relative w-full h-16 sm:w-80 sm:h-32">
			<img ngSrc="assets/team-peps-logo.webp" alt="Logo Team Peps" fill priority>
		</div>
		<form [formGroup]="form" class="pt-4">
			<div class="flex flex-col">
				<label for="username" class="text-lg">Username</label>
				<input type="text" id="username" class="p-2 border rounded-lg" formControlName="username">
			</div>
			<div class="flex flex-col">
				<label for="password" class="text-lg">Password</label>
				<input type="password" id="password" class="p-2 border rounded-lg" formControlName="password">
			</div>
			<button (click)="onSubmit()" type="submit" class="bg-peps-red text-white p-2 rounded-lg mt-4 w-full cursor-pointer">Login</button>
		</form>
	</div>
</div>
