<main class="container mx-auto p-4">
	<h1 class="text-3xl font-bold text-center text-gray-800 dark:text-gray-200 mb-4">Utilisateurs</h1>

	<div class="relative overflow-x-auto">

		<table class="w-full table-auto ">
			<thead>
				<tr>
					<th class="border-b border-t border-gray-900 bg-gray-900 text-white">
						<div class="flex items-center px-2 py-1">
							<div class="flex-1 text-left font-normal">Role</div>
						</div>
					</th>
					<th class="border-b border-t border-gray-900 bg-gray-900 text-white">
						<div class="flex items-center px-2 py-1">
							<div class="flex-1 text-left font-normal">Pseudo</div>
						</div>
					</th>
					<th class="border-b border-t border-gray-900 bg-gray-900 text-white">
						<div class="flex items-center px-2 py-1">
							<div class="flex-1 text-left font-normal">Email</div>
						</div>
					</th>
					<th class="border-b border-t border-gray-900 bg-gray-900 text-white">
						<div class="flex items-center px-2 py-1">
							<div class="flex-1 text-left font-normal">Actions</div>
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
				@for (user of users$ | async; track user.id){
					<tr class="hover:bg-gray-200 dark:hover:bg-gray-700">
						<td class="border-b p-1.5 dark:border-gray-900">
							<div class="flex flex-row gap-2">
								@for (role of user.authorities; track role) {
									<span class="text-xs p-1 rounded-lg" [ngClass]="{'bg-red-500' : role === Authority.ADMIN, 'bg-blue-500' : role === Authority.USER}">{{ role }}</span>
								}
							</div>
						</td>
						<td class="border-b p-3 dark:border-gray-900">
							<span>{{user.username}}</span>
						</td>
						<td class="border-b p-3 dark:border-gray-900">
							<span>{{user.email}}</span>
						</td>
						<td class="border-b p-3 text-center dark:border-gray-900">
							@if (user.username != authService.getUsername()){
								<div class="flex flex-row gap-2">
									<button class="p-2 bg-red-700 rounded-lg cursor-pointer hover:bg-red-800">Supprimer</button>
									@if (user.isEnable){
										<button class="p-2 bg-red-700 cursor-pointer rounded-lg hover:bg-red-800" (click)="disableUser(user.id!)" [tooltip]="'Empecher l\'utilisateur de se connecter'">Bloquer</button>
									} @else {
										<button class="p-2 bg-green-700 cursor-pointer rounded-lg hover:bg-green-800" (click)="enableUser(user.id!)" [tooltip]="'Permettre à l\'utilisateur de se connecter'">Débloquer</button>
									}
								</div>
							} @else {
								<p>Actions non disponible</p>
							}
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</main>
