<div class="py-4">
	<div class="max-w-9/12 mx-auto mt-4 sm:px-6">
		<div class="flex flex-row pb-3 gap-4 justify-center">
			<div>
				@if (step > 1) {

					<div class="w-10 h-10 bg-emerald-500 mx-auto rounded-full justify-center text-white flex items-center">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="white" class="size-6">
							<path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
						</svg>
					</div>

				} @else {
						<div class="w-10 h-10 bg-white dark:bg-gray-700 mx-auto rounded-full justify-center flex items-center" [ngClass]="{'border-2 border-emerald-500' : step === 1}">
							<span class="font-semibold text-lg text-gray-900 dark:text-white">1</span>
						</div>
				}

			</div>

			<div class="w-2/6 align-center items-center align-middle content-center flex">
				<div class="w-full rounded items-center align-middle align-center flex-1 relative">
					@if (step > 1) {
						<div class="bg-emerald-500 leading-none py-1 text-center rounded"></div>
					} @else {
						<div class="bg-gray-200 dark:bg-gray-500 leading-none py-1 text-center rounded"></div>
					}
				</div>
			</div>

			<div>
				@if (step > 2) {

					<div class="w-10 h-10 bg-emerald-500 mx-auto rounded-full justify-center text-white flex items-center">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="white" class="size-6">
							<path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
						</svg>
					</div>

				} @else {
					<div class="w-10 h-10 bg-white dark:bg-gray-700 mx-auto rounded-full justify-center flex items-center" [ngClass]="{'border-2 border-emerald-500' : step === 2}">
						<span class="font-semibold text-lg text-gray-900 dark:text-white">2</span>
					</div>
				}
			</div>

			<div class="w-2/6 align-center items-center align-middle content-center flex">
				<div class="w-full  rounded items-center align-middle align-center flex-1">
					@if (step > 2) {
						<div class="bg-emerald-500 leading-none py-1 text-center rounded"></div>
					} @else {
						<div class="bg-gray-200 dark:bg-gray-500 leading-none py-1 text-center rounded"></div>
					}
				</div>
			</div>

			<div>
				@if (step > 3) {

					<div class="w-10 h-10 bg-emerald-500 mx-auto rounded-full justify-center text-white flex items-center">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="white" class="size-6">
							<path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
						</svg>
					</div>

				} @else {
					<div class="w-10 h-10 bg-white dark:bg-gray-700 mx-auto rounded-full justify-center flex items-center" [ngClass]="{'border-2 border-emerald-500' : step === 3}">
						<span class="font-semibold text-lg text-gray-900 dark:text-white">3</span>
					</div>
				}
			</div>

		</div>
	</div>
	<div class="flex flex-row pb-3 gap-4 w-9/12 mx-auto justify-between">

		<span class="flex-1 text-center">Informations générales</span>
		<span class="flex-1 text-center">Scores et joueurs</span>
		<span class="flex-1 text-center">Détails du match</span>

	</div>
</div>
