<main class="container mx-auto p-4">
	<div class="relative flex flex-col gap-4">
		<form [formGroup]="ambassadorForm" class="my-12 text-gray-900 dark:text-gray-100">
			@if(ambassador){
				<h2 class="text-center text-2xl mb-4">Modification de {{ ambassador?.name }}</h2>
			} @else {
				<h2 class="text-center text-2xl mb-4">Ajout d'un ambassadeur</h2>
			}

			<div class="flex flex-col gap-4">

				<div class="flex flex-col md:flex-row gap-4">
					<div class="flex flex-col flex-1">
						<label for="name">Nom</label>
						<input type="text" id="name" formControlName="name" class="p-2 border border-gray-300 rounded-lg" />
					</div>
					<div class="flex flex-col flex-1">
						<label for="twitterXUsername">X</label>
						<input type="text" id="twitterXUsername" formControlName="twitterXUsername" class="p-2 border border-gray-300 rounded-lg" />
					</div>
					<div class="flex flex-col flex-1">
						<label for="instagramUsername">Instagram</label>
						<input type="text" id="instagramUsername" formControlName="instagramUsername" class="p-2 border border-gray-300 rounded-lg" />
					</div>
				</div>

				<div class="flex flex-col md:flex-row gap-4">
					<div class="flex flex-col flex-1">
						<label for="tiktokUsername">Tiktok</label>
						<input type="text" id="tiktokUsername" formControlName="tiktokUsername" class="p-2 border border-gray-300 rounded-lg" />
					</div>
					<div class="flex flex-col flex-1">
						<label for="twitchUsername">Twitch</label>
						<input type="text" id="twitchUsername" formControlName="twitchUsername" class="p-2 border border-gray-300 rounded-lg" />
					</div>
					<div class="flex flex-col flex-1">
						<label for="youtubeUsername">Youtube</label>
						<input type="text" id="youtubeUsername" formControlName="youtubeUsername" class="p-2 border border-gray-300 rounded-lg" />
					</div>
				</div>
				<div class="flex flex-col gap-4">
					<div class="flex flex-col">
						<label for="description">Description <span class="text-xs">(Limite de 500 caractères)</span></label>
						<textarea type="text" id="description" formControlName="description" class="p-2 border border-gray-300 rounded-lg" maxlength="500"></textarea>
					</div>
					<button class="flex-1 p-2 border border-blue-500 w-full md:w-fit rounded-lg cursor-pointer h-fit hover:border-blue-600 text-white" (click)="handleUploadFile()">Ajouter une image</button>
				</div>

				<input type="file" id="fileInput" formControlName="image" (change)="onFileSelected($event)" [accept]="imageService.getAcceptedFormats()" hidden/>
 				<div [innerHTML]="imageService.getImageRequirementHtml()"></div>
				@if (imagePreview) {
					<img [src]="imagePreview" class="w-24" alt="Aperçu">
				}

				<div class="flex flex-row justify-center">
					<button class="p-2 bg-green-700 w-full md:w-fit rounded-lg cursor-pointer hover:bg-green-600 text-white" (click)="saveOrUpdateAmbassador()">Sauvegarder</button>
				</div>

			</div>

		</form>
	</div>
</main>
