<main class="container mx-auto p-4">
	<h1 class="text-3xl text-center text-white mb-4">Galeries</h1>

	<div class="relative flex flex-col gap-4">

		@if (selectedGallery && !isCreatedGallery || !selectedGallery && isCreatedGallery) {
			<app-update-gallery
				id="updateGallery"
				(galleryUpdated)="loadGalleries()"
				[gallery]="selectedGallery">
			</app-update-gallery>
		}

		@if(selectedAuthor && !isCreatedAuthor || !selectedAuthor && isCreatedAuthor) {
			<app-author-update
				id="updateAuthor"
				[author]="selectedAuthor"
				(authorUpdated)="handleUpdateAuthor()">
			</app-author-update>
		}

		<div class="flex flex-row gap-2">
			@if (!isCreatedGallery && !selectedGallery && !isCreatedAuthor && !selectedAuthor) {
				<button class="p-2 bg-blue-700 rounded-lg cursor-pointer hover:bg-blue-600 text-white w-fit" (click)="toggleCreateGallery()">Ajouter une galerie</button>
				<button class="p-2 bg-blue-700 rounded-lg cursor-pointer hover:bg-blue-600 text-white w-fit" (click)="toggleCreateAuthor()">Ajouter un auteur</button>
			} @else {
				<button class="p-2 bg-red-700 rounded-lg cursor-pointer hover:bg-red-600 text-white w-fit" (click)="cancelCreateProcess()">Annuler</button>
			}
		</div>

		<author-table
			[authors]="authors"
			(authorToUpdate)="selectAuthor($event)"
		></author-table>

		<gallery-table
			[galleries]="galleries"
			(galleryToDelete)="wantToDeleteGallery($event)"
			(galleryToUpdate)="selectGallery($event)"
			(galleryToView)="viewGallery($event)"
			(galleryToAddPhotos)="addPhotos($event)"
		></gallery-table>

		@if(previewGallery) {
			<gallery-preview
				id="previewGallery"
				[gallery]="previewGallery!"
				(photoToDelete)="deletePhoto($event)"
			></gallery-preview>
		}

		@if(isShowingModal) {
			<gallery-upload
				[gallery]="addingPhotoGallery!"
				(uploaded)="loadGalleries()"
				(close)="closeModal()"
			></gallery-upload>
		}

		@if (isShowingDeleteModal) {
			<app-modal
				[title]="'Supprimer la galerie ' + deletingGallery!.translations.fr.eventName"
				[content]="'Êtes-vous sûr de vouloir supprimer cette galerie ? Cette action est irréversible.'"
				[action]="'delete'"
				[type]="'danger'"
				(closeAction)="cancelDeleteGallery()"
				(okAction)="deleteGallery(deletingGallery!)"
			></app-modal>
		}

	</div>
</main>
