@if (step != 999) {
	<app-step [step]="step"></app-step>
}

<div class="flex flex-col gap-6">

	@if (step === 1) {

		<form [formGroup]="matchFormStep1" class="text-gray-900 dark:text-gray-100 flex flex-col gap-6">

			<div class="flex flex-col gap-6">
				<h2 class="text-center text-2xl">Informations de base du match</h2>

				<div class="flex flex-col md:flex-row gap-4">

					<div class="flex flex-col flex-1">
						<label for="competitionName">Nom de la compétition</label>
						<input type="text" id="competitionName" formControlName="competitionName" class="p-2 border border-gray-300 rounded-lg"/>
					</div>

					<div class="flex flex-col flex-1">
						<label for="datetime">Date et heure du match</label>
						<input type="datetime-local" id="datetime" formControlName="datetime" class="p-2 border border-gray-300 rounded-lg"
							   [ngClass]="{
								'border-red-500': matchFormStep1.get('datetime')?.invalid && matchFormStep1.get('datetime')?.touched,
								'border-gray-300': matchFormStep1.get('datetime')?.valid || !matchFormStep1.get('datetime')?.touched
							  }"/>
						@if (matchFormStep1.get('datetime')?.hasError('dateInFuture') && matchFormStep1.get('datetime')?.touched) {
							<div class="text-red-500">La date du match ne peut pas être dans le futur</div>
						}
					</div>
				</div>

				<div class="flex flex-col md:flex-row gap-4">

					<div class="flex flex-col flex-1">
						<label for="game">Jeu</label>
						<select class="p-2.5 rounded-lg border border-gray-300" id="game" formControlName="game" (change)="changeGame($event)">
							<option class="bg-white text-gray-900 dark:bg-gray-900 dark:text-white" value="no-choice" selected>Selectionnez un jeu</option>
							<option class="bg-white text-gray-900 dark:bg-gray-900 dark:text-white" value="overwatch">Overwatch</option>
							<option class="bg-white text-gray-900 dark:bg-gray-900 dark:text-white" value="marvel-rivals">Marvel Rivals</option>
						</select>
					</div>
					<div class="flex flex-col flex-1">
						<label for="roster">Roster Peps</label>
						<select class="p-2.5 rounded-lg border border-gray-300" id="roster" formControlName="roster" (change)="changeTeam($event, 'peps')">
							@for (pepsRoster of pepsRosterSorted; track pepsRoster.id) {
								<option class="bg-white text-gray-900 dark:bg-gray-900 dark:text-white" [value]="pepsRoster.id">{{ pepsRoster.name }} - {{ pepsRoster.game | replace: '-' : ' ' | titlecase }}</option>
							}
						</select>
					</div>

					<div class="flex flex-col flex-1">
						<label for="opponentRoster">Roster adverse</label>
						<select class="p-2.5 rounded-lg border border-gray-300" id="opponentRoster" formControlName="opponentRoster" (change)="changeTeam($event, 'opponent')">
							@for (opponentRoster of opponentRosterSorted; track opponentRoster.id) {
								<option class="bg-white text-gray-900 dark:bg-gray-900 dark:text-white" [value]="opponentRoster.id">{{ opponentRoster.name }} - {{ opponentRoster.game | replace: '-' : ' ' | titlecase }}</option>
							}
						</select>
					</div>

				</div>

				<div class="flex flex-col md:flex-row gap-4">
					<div class="flex flex-col flex-1">
						<label for="type">Type de match</label>
						<select class="p-2.5 rounded-lg border border-gray-300" id="type" formControlName="type">
							@for (type of enumKeysObject(MatchType); track type){
								<option class="bg-white text-gray-900 dark:bg-gray-900 dark:text-white" [value]="type">{{ type }}</option>
							}
						</select>
					</div>
				</div>

			</div>

		</form>

		<div class="flex flex-row justify-center gap-4">
			<button class="p-2 text-white rounded-lg" (click)="nextStep()" [ngClass]="{'cursor-not-allowed bg-blue-400' : matchFormStep1.invalid, 'cursor-pointer bg-blue-500' : matchFormStep1.valid}" [disabled]="matchFormStep1.invalid">Suivant</button>
		</div>

	} @else if (step === 2) {

		<form [formGroup]="matchFormStep2" class="text-gray-900 dark:text-gray-100 flex flex-col gap-6">

			<div class="flex flex-row justify-around gap-8">


				<div class="flex flex-col gap-2">
					<span class="text-2xl">Roster Peps</span>

					<div class="flex flex-col">
						<label for="score">Score de l'équipe Peps</label>
						<input type="number" min="0" step="1" id="score" formControlName="score" class="p-2 border border-gray-300 rounded-lg" (keydown)="blockComma($event)"/>
					</div>

					<div class="flex flex-col">

						<label for="pepsPlayers">Sélectionnez les joueurs</label>
						<select class="p-2.5 rounded-lg border border-gray-300 h-fit" id="pepsPlayers" formControlName="pepsPlayers" multiple>
							@for (member of membersPeps$ | async; track member.id){
								<option class="bg-white text-gray-900 dark:bg-gray-900 dark:text-white" [value]="member.id">{{ member.pseudo }}</option>
							}
						</select>

					</div>

				</div>

				<div class="flex flex-col">
					<span class="text-2xl">Roster adverse</span>

					<div class="flex flex-col">
						<label for="opponentScore">Score de l'équipe adverse</label>
						<input type="number" min="0" step="1" id="opponentScore" formControlName="opponentScore" class="p-2 border border-gray-300 rounded-lg" (keydown)="blockComma($event)"/>
					</div>

					<label for="opponentPlayers">Sélectionnez les joueurs</label>
					<select class="p-2.5 rounded-lg border border-gray-300" id="opponentPlayers" formControlName="opponentPlayers" multiple>
						@for (member of membersOpponent$ | async; track member.id){
							<option class="bg-white text-gray-900 dark:bg-gray-900 dark:text-white" [value]="member.id">{{ member.pseudo }}</option>
						}
					</select>

				</div>

			</div>

		</form>

		<div class="flex flex-row justify-center gap-4">
			<button class="p-2 text-white rounded-lg cursor-pointer bg-blue-500" (click)="previousStep()">Précédent</button>
			<button class="p-2 text-white rounded-lg" (click)="gotoStepThree()" [ngClass]="{'cursor-not-allowed bg-blue-400' : matchFormStep2.invalid, 'cursor-pointer bg-blue-500' : matchFormStep2.valid}" [disabled]="matchFormStep2.invalid">Suivant</button>
		</div>

	} @else if (step === 3) {
		<form [formGroup]="matchFormStep3" class="text-gray-900 dark:text-gray-100 flex flex-col gap-6">

			<div class="space-y-4" formArrayName="rounds">
				@for (round of rounds.controls; let i = $index; track i) {
					<div class="grid grid-cols-1 md:grid-cols-6 gap-4 items-center" [formGroupName]="i">
						<select class="p-2.5 rounded-lg border border-gray-300 w-full" formControlName="bannedHeroPeps">
							<option disabled selected value="nohero">Choisir le héro ban de Peps</option>
							@for (heroe of heroes; track heroe.id) {
								<option class="bg-white text-gray-900 dark:bg-gray-900 dark:text-white" [value]="heroe.id">
									{{ heroe.name }}
								</option>
							}
						</select>

						<input
							type="number"
							min="0"
							step="1"
							class="p-2 border border-gray-300 rounded-lg"
							(keydown)="blockComma($event)"
							placeholder="Score de Peps"
							formControlName="scorePeps"
						/>

						<select class="p-2.5 rounded-lg border border-gray-300 w-full" formControlName="mapId">
							<option disabled selected value="nomap">Choisir la carte</option>
							@for (map of maps; track map.id) {
								<option class="bg-white text-gray-900 dark:bg-gray-900 dark:text-white" [value]="map.id">
									{{ map.name }}
								</option>
							}
						</select>

						<input
							type="number"
							min="0"
							step="1"
							class="p-2 border border-gray-300 rounded-lg"
							(keydown)="blockComma($event)"
							placeholder="Score adverse"
							formControlName="scoreOpponent"
						/>

						<select class="p-2.5 rounded-lg border border-gray-300 w-full" formControlName="bannedHeroOpponent">
							<option disabled selected value="nohero">Choisir le héro ban adverse</option>
							@for (heroe of heroes; track heroe.id) {
								<option class="bg-white text-gray-900 dark:bg-gray-900 dark:text-white" [value]="heroe.id">
									{{ heroe.name }}
								</option>
							}
						</select>

						<input
							type="text"
							class="p-2 border border-gray-300 rounded-lg w-full"
							placeholder="Code de la map"
							formControlName="gameCode"
						/>

						<input type="hidden" formControlName="round">
					</div>
				}
			</div>

		</form>

		<div class="flex flex-row justify-center gap-4">
			<button class="p-2 text-white rounded-lg cursor-pointer bg-blue-500" (click)="previousStep()">Précédent</button>
			<button class="p-2 text-white rounded-lg " [ngClass]="{'cursor-not-allowed bg-emerald-400' : matchFormStep3.invalid || isButtonDisabled, 'cursor-pointer bg-emerald-500' : matchFormStep3.valid}" [disabled]="matchFormStep3.invalid || isButtonDisabled" (click)="saveFinishedMatch()">Valider</button>
		</div>
	} @else if (step === 999){
		<div class="flex flex-col gap-10">
			<h2 class="text-center text-2xl">Match créé avec succès</h2>
			<div class="w-20 h-20 bg-emerald-500 mx-auto rounded-full justify-center text-white flex items-center">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="white" class="size-14">
					<path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
				</svg>
			</div>
			<div class="flex flex-row justify-center gap-4">
				<button class="p-2 text-white rounded-lg cursor-pointer bg-blue-500" (click)="createAnotherMatch()">Créer un autre match</button>
				<button class="p-2 text-white rounded-lg cursor-pointer bg-blue-500" (click)="goToMatchList()">Voir la liste des matchs</button>
			</div>
		</div>
	}

</div>
