<ul
	class="w-full flex flex-col gap-4"
	cdkDropList
	(cdkDropListDropped)="drop($event)"
>
	@defer {
		@for (slider of sliders; track slider.id) {
			<li
				class="flex flex-col sm:flex-row items-center justify-between gap-4 sm:gap-0 px-4 py-4 border border-gray-500 transition-colors cursor-grab bg-gray-900 rounded-2xl"
				cdkDrag
			>

				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="mi-outline mi-drag-indicator" viewBox="0 0 24 24">
					<path d="M11 18c0 1.1-.9 2-2 2s-2-.9-2-2 .9-2 2-2 2 .9 2 2m-2-8c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2m0-6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2m6 4c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2m0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2m0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2"/>
				</svg>
				<div class="flex items-center gap-4">
					<img [src]="minioBaseUrl + slider.imageKey" alt="Image du slider {{slider.id}}" class="w-24 rounded shadow-sm" />
					<img [src]="minioBaseUrl + slider.mobileImageKey" alt="Image mobile du slider {{slider.id}}" class="w-24 rounded shadow-sm" />
					<div class="text-gray-600 dark:text-gray-300 break-all font-bold">{{ slider.order }}</div>
				</div>

				<div class="flex flex-col sm:flex-row gap-2 sm:gap-6 w-full sm:w-auto items-center">
					<div class="font-semibold text-gray-800 dark:text-gray-100">{{ slider.ctaLabel }}</div>
					<div class="text-sm text-gray-600 dark:text-gray-300 break-all">{{ slider.ctaLink }}</div>
				</div>

				<div class="flex flex-col gap-2 min-w-[180px] mt-2 sm:mt-0">
					<button
						class="p-2 bg-blue-700 rounded-lg cursor-pointer hover:bg-blue-600 text-white text-sm"
						(click)="selectSlider(slider)"
					>
						Modifier
					</button>

					<button
						class="p-2 bg-yellow-600 rounded-lg cursor-pointer hover:bg-yellow-500 text-white text-sm"
						(click)="toggleActive(slider)"
					>
						{{ slider.isActive ? 'Désactiver' : 'Activer' }}
					</button>

					<button
						class="p-2 bg-red-700 rounded-lg cursor-pointer hover:bg-red-600 text-white text-sm"
						(click)="deleteSlider(slider)"
					>
						Supprimer
					</button>
				</div>
			</li>
		}

		@empty {
			<li class="p-6 text-center text-gray-500 dark:text-gray-400">Aucune donnée</li>
		}
	}
	@loading (minimum 500ms) {
		<div class="flex justify-center items-center h-48">
			<div class="relative flex justify-center items-center">
				<div class="absolute animate-spin rounded-full h-24 w-24 border-t-4 border-b-4 border-yellow-500"></div>
				<div class="relative h-14 w-14">
					<img ngSrc="/assets/pepite.webp" class="rounded-full" fill />
				</div>
			</div>
		</div>
	}

</ul>
