<main class="container mx-auto p-4">
	<div class="relative flex flex-col gap-4">
		<form [formGroup]="memberForm" class="my-12 text-gray-900 dark:text-gray-100">
			@if(member){
				<h2 class="text-center text-2xl mb-4">Modification de {{ member?.pseudo }}</h2>
			} @else {
				<h2 class="text-center text-2xl mb-4">Ajout d'un membre</h2>
			}

			<div class="flex flex-col gap-4">

				<div class="flex flex-col md:flex-row gap-4">
					<div class="flex flex-col flex-1">
						<label for="pseudo">Pseudo</label>
						<input type="text" id="pseudo" formControlName="pseudo" class="p-2 border border-gray-300 rounded-lg" placeholder="Féfé"/>
					</div>
					<div class="flex flex-col flex-1">
						<label for="firstname">Prénom</label>
						<input type="text" id="firstname" formControlName="firstname" class="p-2 border border-gray-300 rounded-lg" placeholder="Félix"/>
					</div>
					<div class="flex flex-col flex-1">
						<label for="lastname">Nom</label>
						<input type="text" id="lastname" formControlName="lastname" class="p-2 border border-gray-300 rounded-lg" placeholder="Munch"/>
					</div>
				</div>

				<div class="flex flex-col md:flex-row gap-4">
					<div class="flex flex-col flex-1">
						<label for="dateOfBirth">Date de naissance</label>
						<input type="date" id="dateOfBirth" formControlName="dateOfBirth" class="p-2 border border-gray-300 rounded-lg"/>
					</div>
					<div class="flex flex-col flex-1">
						<label for="nationality">Nationalité</label>
						<select class="p-2.5 rounded-lg border border-gray-300" id="nationality" formControlName="nationality">
							@for (nationality of enumKeysObject(Nationality); track nationality){
								<option class="bg-white text-gray-900 dark:bg-gray-900 dark:text-white" [value]="nationality">{{ nationality }}</option>
							}
						</select>
					</div>
					<div class="flex flex-col flex-1">
						<label for="role">Role</label>
						<select class="p-2.5 border rounded-lg border-gray-300" id="role" formControlName="role">
							@for (role of enumKeysObject(Role); track role){
								<option class="bg-white text-gray-900 dark:bg-gray-900 dark:text-white" [value]="role">{{ role }}</option>
							}
						</select>
					</div>
				</div>

				@if(memberForm.get('role')?.value !== null && memberForm.get('role')?.value != Role.COACH){
					<div class="flex flex-col md:flex-row gap-4">
						<div class="flex flex-col flex-1">
							<label for="isSubstitute">Status</label>
							<select class="p-2.5 border rounded-lg border-gray-300" id="isSubstitute" formControlName="isSubstitute">
								@if (countMembers < 6) {
									<option class="bg-white text-gray-900 dark:bg-gray-900 dark:text-white" value="false">Titulaire</option>
								}
								<option class="bg-white text-gray-900 dark:bg-gray-900 dark:text-white" value="true">Remplacant</option>
							</select>
						</div>
					</div>
				}

				<div class="flex flex-col md:flex-row gap-4">
					<div class="flex flex-col flex-1">
						<label for="twitterUsername">Twitter/X</label>
						<input type="text" id="twitterUsername" formControlName="twitterUsername" class="p-2 border border-gray-300 rounded-lg" placeholder="fefegg"/>
					</div>
					<div class="flex flex-col flex-1">
						<label for="instagramUsername">Instagram</label>
						<input type="text" id="instagramUsername" formControlName="instagramUsername" class="p-2 border border-gray-300 rounded-lg" placeholder="fefegg"/>
					</div>
					<div class="flex flex-col flex-1">
						<label for="tiktokUsername">Tiktok</label>
						<input type="text" id="tiktokUsername" formControlName="tiktokUsername" class="p-2 border border-gray-300 rounded-lg" placeholder="fefegg"/>
					</div>
				</div>

				<div class="flex flex-col md:flex-row gap-4">
					<div class="flex flex-col flex-1">
						<label for="twitchUsername">Twitch</label>
						<input type="text" id="twitchUsername" formControlName="twitchUsername" class="p-2 border border-gray-300 rounded-lg" placeholder="fefegg"/>
					</div>
					<div class="flex flex-col flex-1">
						<label for="youtubeUsername">Youtube</label>
						<input type="text" id="youtubeUsername" formControlName="youtubeUsername" class="p-2 border border-gray-300 rounded-lg" placeholder="fefegg"/>
					</div>
					<div class="flex flex-col flex-1">
						<label for="game">Jeu</label>
						<select class="p-2.5 border rounded-lg border-gray-300" id="game" formControlName="game">
							@for (game of enumKeysObject(Game); track game){
								<option class="bg-white text-gray-900 dark:bg-gray-900 dark:text-white" [value]="game">{{ game }}</option>
							}
						</select>
					</div>
				</div>
				<div class="flex flex-col gap-4">
					<div class="flex flex-col">
						<label for="descriptionFr">Description (FR) <span class="text-xs">(Limite de 500 caractères)</span></label>
						<textarea type="text" id="descriptionFr" formControlName="descriptionFr" class="p-2 border border-gray-300 rounded-lg" maxlength="500" placeholder="Diplômé de 5, euh non 6 masters différents, il est le fondateur de la team peps depuis 1779"></textarea>
					</div>
					<div class="flex flex-col">
						<label for="descriptionEn">Description (EN) <span class="text-xs">(Limite de 500 caractères)</span></label>
						<textarea type="text" id="descriptionEn" formControlName="descriptionEn" class="p-2 border border-gray-300 rounded-lg" maxlength="500" placeholder="A graduate of 5, no 6 different masters, he is the founder of the peps team since 1779."></textarea>
					</div>
					<div class="flex flex-col gap-4">
						<span>Personnages favoris ({{memberForm.get('favoriteHeroes')?.value ? memberForm.get('favoriteHeroes')?.value.length : 0}}/3)</span>
						@if(memberForm.get('game')?.value) {
							<hero-selector
								[heroes]="filterHeroesByGame(memberForm.get('game')?.value)"
								formControlName="favoriteHeroes"
							></hero-selector>
						} @else {
							<span>Veuillez choisir un jeu pour sélectionner les personnages favoris</span>
						}
					</div>
					<button class="flex-1 p-2 border border-blue-500 w-full md:w-fit rounded-lg cursor-pointer h-fit hover:border-blue-600 text-white" (click)="handleUploadFile()">Ajouter une image</button>
				</div>

				<input type="file" id="fileInput" formControlName="image" (change)="onFileSelected($event)" [accept]="imageService.getAcceptedFormats()" hidden/>
				<div [innerHTML]="imageService.getImageRequirementHtml()"></div>
				@if (imagePreview) {
					<img [src]="imagePreview" class="w-24" alt="Aperçu">
				}

				<div class="flex flex-row justify-center">
					<button class="p-2 bg-green-700 w-full md:w-fit rounded-lg cursor-pointer hover:bg-green-600 text-white" (click)="saveOrUpdate()">Sauvegarder</button>
				</div>

			</div>

		</form>
	</div>
</main>
