<table class="w-full table-auto">
	<thead>
	<tr>
		<th class="bg-peps-discord text-white">
			<div class="flex items-center px-2 py-1">
				<div class="flex-1 text-left font-normal">Nom</div>
			</div>
		</th>
		<th class="bg-peps-discord text-white">
			<div class="flex items-center px-2 py-1">
				<div class="flex-1 text-left font-normal">Actions</div>
			</div>
		</th>
	</tr>
	</thead>
	<tbody>
		@defer {
			@for (author of authors; track author.id; let even = $even) {
				<tr class="hover:bg-peps-dark-500" [ngClass]="{'bg-peps-dark-700': even, 'bg-peps-dark-600': !even}">
					<td class="p-3">
						{{ author.name }}
					</td>
					<td class="p-3 flex flex-col gap-2 w-60">
						<button class="p-2 bg-blue-700 rounded-lg cursor-pointer hover:bg-blue-600 text-white" (click)="selectAuthor(author)">Modifier</button>
					</td>
				</tr>
			} @empty {
				<tr>
					<td colspan="5" class="p-3 text-center">
						Aucune donnée
					</td>
				</tr>
			}
		} @loading (minimum 500ms) {
			<tr>
				<td colspan="10" class="p-3 text-center h-48">
					<div class="relative flex justify-center items-center">
						<div class="absolute animate-spin rounded-full h-24 w-24 border-t-4 border-b-4 border-peps-gold"></div>
						<div class="relative h-14 w-14">
							<img ngSrc="/assets/pepite.webp" class="rounded-full" fill>
						</div>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>
