<main class="container mx-auto p-4">
	<h1 class="text-3xl font-bold text-center text-gray-800 dark:text-gray-200 mb-4">Dernières vidéos</h1>

	<div class="relative flex flex-col gap-4">



			@if (selectedVideo && !isCreateVideo || !selectedVideo && isCreateVideo) {
				<app-update-last-video
					id="updateVideo"
					(videoUpdated)="loadVideos()"
					[video]="selectedVideo">
				</app-update-last-video>
			}

		@if(videos.length < 3) {
			@if (!isCreateVideo) {
				<button class="p-2 bg-blue-700 rounded-lg cursor-pointer hover:bg-blue-600 text-white w-fit" (click)="toggleCreateVideo()">Ajouter une vidéo</button>
			} @else {
				<button class="p-2 bg-red-700 rounded-lg cursor-pointer hover:bg-red-600 text-white w-fit" (click)="toggleCreateVideo()">Annuler</button>
			}
		}

		<div class="overflow-x-auto flex flex-col gap-10">
			<span class="text-sm">⚠️ Le nombre de vidéos est limité à 3 ⚠️</span>
			<app-video-table
				[videos]="videos"
				(videoToUpdate)="selectVideo($event)"
			></app-video-table>
		</div>

	</div>
</main>
