<main class="container mx-auto p-4">
	<h1 class="text-3xl font-bold text-center text-gray-800 dark:text-gray-200 mb-4">Création de match</h1>

	<div class="w-full flex justify-center pt-4 pb-8">
		<div class="flex flex-col md:flex-row gap-1 md:justify-center bg-gray-200 dark:bg-gray-700 w-fit p-1 rounded-lg overflow-hidden">

			<button
				(click)="wantAddUpcomingMatch()"
				class="relative px-4 py-2 rounded-lg overflow-hidden text-sm font-medium text-black dark:text-white z-10 cursor-pointer"
				[ngClass]="{'text-yellow-500': addingChoiceMatch === 'upcoming'}"
			>
				<span class="relative z-10">Ajouter un match à venir</span>
				<span
					class="absolute inset-0 bg-white dark:bg-yellow-500 z-0 transition-transform duration-300 ease-in-out"
					[ngClass]="{'origin-right': !isMobile, 'origin-bottom': isMobile}"
					[ngStyle]="{transform: addingChoiceMatch === 'upcoming' ? (isMobile ? 'scaleY(1)' : 'scaleX(1)') : (isMobile ? 'scaleY(0)' : 'scaleX(0)')}"
				></span>
			</button>

			<button
				(click)="wantAddFinishedMatch()"
				class="relative px-4 py-2 rounded-lg overflow-hidden text-sm font-medium text-black dark:text-white z-10 cursor-pointer"
				[ngClass]="{'text-yellow-500': addingChoiceMatch === 'finished'}"
			>
				<span class="relative z-10">Ajouter un match finit</span>

				<span
					class="absolute inset-0 bg-white dark:bg-yellow-500 z-0 transition-transform duration-300 ease-in-out"
					[ngClass]="{'origin-left': !isMobile, 'origin-top': isMobile}"
					[ngStyle]="{transform: addingChoiceMatch === 'finished' ? (isMobile ? 'scaleY(1)' : 'scaleX(1)') : (isMobile ? 'scaleY(0)' : 'scaleX(0)')}"
				></span>
			</button>

		</div>
	</div>


	@if (addingChoiceMatch === "finished") {
		<app-create-finished-match
			[opponentRoster]="opponentRosters$ | async"
			[pepsRoster]="pepsRosters$ | async"
		></app-create-finished-match>
	} @else if (addingChoiceMatch === "upcoming") {
		<app-create-upcoming-match
			[pepsRoster]="pepsRosters$ | async"
			[opponentRoster]="opponentRosters$ | async"
		></app-create-upcoming-match>
	}
</main>
