<main class="container mx-auto p-4">
	<h1 class="text-3xl font-bold text-center text-gray-800 dark:text-gray-200 mb-4">Gestion des équipes</h1>

	<div class="flex flex-col gap-12">

		<div class="flex flex-col md:flex-row gap-2">
			@if (selectedRoster && !isAddRoster ||!selectedRoster && isAddRoster) {
				<app-update-roster (cancel)="handleCancelAddOrEditRoster()" (rosterSaved)="handleRosterListUpdated()" [roster]="selectedRoster"></app-update-roster>
			} @else {
				<button class="p-2 bg-blue-700 rounded-lg cursor-pointer hover:bg-blue-600 text-white w-fit" (click)="wantAddRoster()">Ajouter une équipe</button>
			}

		</div>

		<div class="relative flex flex-col gap-4">

			<h2 class="text-2xl font-bold text-center text-gray-800 dark:text-gray-200 mb-4">Equipes PEPS</h2>

			@if (pepsRosterCounter > 0) {

				<div class="relative overflow-x-auto">

					<table class="w-full table-auto ">
						<thead>
							<tr>
								<th class="border-b border-t border-gray-900 bg-gray-900 text-white">
									<div class="flex items-center px-2 py-1">
										<div class="flex-1 text-left font-normal">Jeu</div>
									</div>
								</th>
								<th class="border-b border-t border-gray-900 bg-gray-900 text-white">
									<div class="flex items-center px-2 py-1">
										<div class="flex-1 text-left font-normal">Nom de l'équipe</div>
									</div>
								</th>
								<th class="border-b border-t border-gray-900 bg-gray-900 text-white">
									<div class="flex items-center px-2 py-1">
										<div class="flex-1 text-left font-normal">Nombre de matchs</div>
									</div>
								</th>
								<th class="border-b border-t border-gray-900 bg-gray-900 text-white">
									<div class="flex items-center px-2 py-1">
										<div class="flex-1 text-left font-normal">Actions</div>
									</div>
								</th>
							</tr>
						</thead>
						<tbody>
							@for (pepsRoster of rostersPeps$ | async; track pepsRoster.id){
								<tr class="hover:bg-gray-200 dark:hover:bg-gray-700">
									<td class="border-b p-3 dark:border-gray-900">
										<div class="flex flex-row items-center gap-2">
											<div class="rounded-lg p-2 bg-gray-300 dark:bg-gray-950">
												<img [src]="'assets/'+ pepsRoster.game+'.svg'" alt="Logo {{pepsRoster.game}}" class="w-10 h-10 inline-block mr-2">
												<span class="hidden md:inline-block">{{ pepsRoster.game | replace: '-' : ' ' | titlecase }}</span>
											</div>
										</div>
									</td>
									<td class="border-b p-3 dark:border-gray-900">
										<div class="flex flex-row items-center gap-2">
											<img [src]="'data:image/webp;base64,' + pepsRoster.image" alt="Logo {{pepsRoster.name}}" class="w-16">
											<span class="hidden md:inline-block">{{ pepsRoster.name }}</span>
										</div>
									</td>
									<td class="border-b p-3 dark:border-gray-900 text-center">
										{{ pepsRoster.matchCount }}
									</td>
									<td class="border-b p-3 dark:border-gray-900">
										<div class="flex flex-row gap-2">
											<button class="p-2 bg-blue-700 rounded-lg cursor-pointer hover:bg-blue-600 text-white" [routerLink]="['/management/rosters/' + pepsRoster.id]">Voir</button>
											<button class="p-2 bg-blue-700 rounded-lg cursor-pointer hover:bg-blue-600 text-white" (click)="wantEditRoster(pepsRoster)">Modifier</button>
											@if (pepsRoster.matchCount! < 1) {
												<button class="p-2 bg-red-700 rounded-lg cursor-pointer hover:bg-red-600 text-white" (click)="wantDeleteRoster(pepsRoster)">Supprimer</button>
											}
										</div>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>

			} @else {
				<h2>Aucune équipe PEPS pour le moment</h2>
			}

			<h2 class="text-2xl font-bold text-center text-gray-800 dark:text-gray-200 mb-4">Equipes adverses</h2>

			<div class="relative overflow-x-auto">

				@if (totalPages > 0) {

					<table class="w-full table-auto ">
						<thead>
							<tr>
								<th class="border-b border-t border-gray-900 bg-gray-900 text-white">
									<div class="flex items-center px-2 py-1">
										<div class="flex-1 text-left font-normal">Jeu</div>
									</div>
								</th>
								<th class="border-b border-t border-gray-900 bg-gray-900 text-white">
									<div class="flex items-center px-2 py-1">
										<div class="flex-1 text-left font-normal">Nom de l'équipe</div>
									</div>
								</th>
								<th class="border-b border-t border-gray-900 bg-gray-900 text-white">
									<div class="flex items-center px-2 py-1">
										<div class="flex-1 text-left font-normal">Nombre de matchs</div>
									</div>
								</th>
								<th class="border-b border-t border-gray-900 bg-gray-900 text-white">
									<div class="flex items-center px-2 py-1">
										<div class="flex-1 text-left font-normal">Actions</div>
									</div>
								</th>
							</tr>
						</thead>
						<tbody>
							@for (opponentRoster of paginatedRosters$ | async; track opponentRoster){
								<tr class="hover:bg-gray-200 dark:hover:bg-gray-700">
									<td class="border-b p-3 dark:border-gray-900">
										<div class="flex flex-row items-center gap-2">
											<div class="rounded-lg p-2 bg-gray-300 dark:bg-gray-950">
												<img [src]="'assets/'+ opponentRoster.game+'.svg'" alt="Logo {{opponentRoster.game}}" class="w-10 h-10 inline-block mr-2">
												<span class="hidden md:inline-block">{{ opponentRoster.game | replace: '-' : ' ' | titlecase }}</span>
											</div>
										</div>
									</td>
									<td class="border-b p-3 dark:border-gray-900">
										<div class="flex flex-row items-center gap-2">
											<img [src]="'data:image/webp;base64,' + opponentRoster.image" alt="Logo {{opponentRoster.name}}" class="w-16">
											<span class="hidden md:inline-block">{{ opponentRoster.name }}</span>
										</div>
									</td>
									<td class="border-b p-3 dark:border-gray-900 text-center">
										{{ opponentRoster.matchCount }}
									</td>
									<td class="border-b p-3 dark:border-gray-900">
										<div class="flex flex-row gap-2">
											<button class="p-2 bg-blue-700 rounded-lg cursor-pointer hover:bg-blue-600 text-white" (click)="wantEditRoster(opponentRoster)">Modifier</button>
											<button class="p-2 bg-blue-700 rounded-lg cursor-pointer hover:bg-blue-600 text-white" [routerLink]="['/management/rosters/' + opponentRoster.id]">Voir</button>
											@if (opponentRoster.matchCount! < 1) {
												<button class="p-2 bg-red-700 rounded-lg cursor-pointer hover:bg-red-600 text-white" (click)="wantDeleteRoster(opponentRoster)">Supprimer</button>
											}
										</div>
									</td>
								</tr>
							}
						</tbody>
					</table>
					<div class="py-2 flex flex-row gap-2 items-center justify-between">
						<div class="flex flex-row gap-2 items-center">
							@if (currentPage != 1){
								<button class="p-2 border border-blue-700 rounded-lg cursor-pointer" (click)="previousPage()">Précédent</button>
							}
							<span>Page {{ currentPage }} sur {{ totalPages }}</span>
							@if (currentPage != totalPages){
								<button class="p-2 border border-blue-700 rounded-lg cursor-pointer" (click)="nextPage()">Suivant</button>
							}
						</div>

						<select class="p-2.5 rounded-lg border border-gray-300" (change)="changePageSize($event)">
							<option class="bg-white text-gray-900 dark:bg-gray-900 dark:text-white" [value]="5" selected>5 par page</option>
							<option class="bg-white text-gray-900 dark:bg-gray-900 dark:text-white" [value]="10">10 par page</option>
							<option class="bg-white text-gray-900 dark:bg-gray-900 dark:text-white" [value]="20">20 par page</option>
						</select>
					</div>
				} @else {
					<h2>Aucune équipe adverse pour le moment</h2>
				}
			</div>
		</div>
	</div>

	@if(rosterToDelete){
		<app-modal
			[title]="'Suppression de l\'équipe ' + rosterToDelete?.name"
			[content]="'Êtes-vous sûr de vouloir supprimer cette équipe ?'"
			[action]="'Supprimer'"
			[type]="'danger'"
			(okAction)="deleteRoster()"
			(closeAction)="cancelDeleteRoster()"
		/>
	}
</main>
