<main class="container mx-auto p-4">
	<h1 class="text-3xl font-bold text-center text-gray-800 dark:text-gray-200 mb-4">Equipes - Team Peps</h1>

	<div class="relative overflow-x-auto">

		<table class="w-full table-auto ">
			<thead>
				<tr>
					<th class="border-b border-t border-gray-900 bg-gray-900 text-white">
						<div class="flex items-center px-2 py-1">
							<div class="flex-1 text-left font-normal">Jeu</div>
						</div>
					</th>
					<th class="border-b border-t border-gray-900 bg-gray-900 text-white">
						<div class="flex items-center px-2 py-1">
							<div class="flex-1 text-left font-normal">Actions</div>
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
				@for (roster of rosters$ | async; track roster){
					<tr class="hover:bg-gray-200 dark:hover:bg-gray-700">
						<td class="border-b p-3 dark:border-gray-900">
							<div class="flex flex-row items-center gap-2">
								<div class="rounded-lg p-2 bg-gray-300 dark:bg-gray-950">
									<img [src]="'assets/'+ roster.game+'.svg'" alt="Logo {{roster.game}}" class="w-10 h-10 inline-block mr-2">
									<span>{{ roster.game | replace: '-' : ' ' | titlecase }}</span>
								</div>
							</div>

						</td>
						<td class="border-b p-3 dark:border-gray-900">
							<button class="p-2 bg-blue-700 rounded-lg cursor-pointer hover:bg-blue-600 text-white" [routerLink]="['/management/rosters/' + roster.id]">Voir</button>
						</td>
					</tr>
				}
			</tbody>
		</table>

	</div>
</main>
